{% extends 'base.html' %}
{% block body %}
<div class="loginbox">
  <div class="card">
    <div class="center" style="font-size:34px">🍾</div>
    <h1 class="center" style="margin-top:4px">Вход</h1>
    <p class="sub center">Мотивационная программа 2026</p>
    <form method="post">
      <p><label class="muted">Логин</label><input type="text" name="username" autofocus
             autocapitalize="none" autocorrect="off" autocomplete="username" spellcheck="false"></p>
      <p><label class="muted">Пароль</label><input type="password" name="password"></p>
      <button class="btn" style="width:100%;margin-top:8px">Войти</button>
    </form>
  </div>
</div>
{% endblock %}
